.signature {
  border-radius: 5px;
  border: 1px dashed var(--main-color);
}

.signature.focused {
  background-color: "transparent";
  border: 2px solid var(--main-color);
  box-shadow: 5px 5px 8px 1px var(--main-color);
}

.signature.required {
  border: 1px dashed var(--main-red);
}

.signature.required.focused {
  border: 2px solid var(--main-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.pdf-input[type="date"]::-webkit-inner-spin-button,
.pdf-input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.pdf-input {
  border-radius: 5px;
  border: 1px dashed var(--main-color);
  font-size: 0.8rem;
  direction: rtl;
  padding-right: 3px;
  font: "calibri", sans-serif;
}

.pdf-input[type="checkbox"] {
}

.pdf-input:required {
  border: 1px dashed var(--main-red);
}

.pdf-input:required.focused {
  border: 2px solid #c75146;
}

.pdf-input[type="date"] {
  font-size: 0.8rem;
  text-align: center;
}

.pdf-input.focused {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 600px) {
  .pdf-input {
    font-size: 0.3rem;
  }

  .pdf-input[type="date"] {
    font-size: 0.3rem;
    font-family: "calibri", sans-serif;
  }
}

/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 900px) {
  .pdf-input {
    font-size: 0.5rem;
  }

  .pdf-input[type="date"] {
    font-size: 0.5rem;
  }
}
