@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "calibri", sans-serif;
  font-size: 1.1rem;
  background-color: #f4f7fa;
}

div{
  font-family: "calibri", sans-serif;
  font-size: 1.1rem;
}

.fill-field-panel {
  background: rgb(39, 68, 92,0.95);
  /* background: linear-gradient(119deg, rgba(33,33,68,0.86) 0%, rgba(9,9,70,0.80) 100%); */
  width: 85%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
  position: fixed;
  align-self: center;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  transition: max-height 1s ease;
}

.main-input-zoon-in{
  transition: transform 0.2s ease-in-out; 
  transform: scale(1.1);
}

.zoom-in {
  transition: transform 0.5s ease-in-out; 
  transform: scale(1.5);
}

.zoom-out {
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}

.page {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-section {
  margin-top: 60px;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-filler {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.main-input{
   border-radius: 5px;
   border: 1px solid white;
   font-size: 1rem;
   width: 40vw;
   height: 1.4rem;
   padding-right: 10px;
   margin: 5px
}

.signature{
  border-radius: 2px;
  border: 1px dashed red;
}

.pdf-input.focused{
  border: 2px solid #2b4451;
}

.pdf-input{
  border-radius: 2px;
  border: 1px dashed red;
  font-size: 0.8rem;
  direction: rtl;
  padding-right: 3px;
}

.main-input:focus {
  outline: none;
  border: 1px solid white;
}

.navbar{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: white;
  width: 100%;
  border-bottom: 1px lightgray solid;
}

.header{
  margin: 15px;
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 500;
  font-family:  "Yellowtail", cursive;
  direction: ltr;
  color: #000;
  text-decoration: underline;
}

.pdf-page{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: 20px;
  direction: rtl;
}

.fill-navigation-buttons {
  background-color: transparent;
  margin: 5px;
}

.top-navigation {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
}

.pdf-viewbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.draggable-input {
  position: absolute;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: move;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

button {
  background-color: #f5f5f5;
  border: none;
  color: #000;
  padding: 0.4rem 1rem 0.4rem 1rem;
  list-style: none;
  font-size: 1rem;
  margin: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  width: 6rem;
}

.previous {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.next {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

p {
  margin: 10px;
  font-size: 1rem;
  direction: rtl;
  background-color: transparent;
}

.description{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 5px;
}

.input-description{
  background-color: transparent;
  direction: rtl;
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 2px;
  margin: 0;
}


@media (max-width: 600px) {
  button {
    font-size: 0.8rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin: 0.3rem;
  }

  .fill-field-panel {
    width: 99%;
  }

  .main-input{
    width: 70vw;
 }

 .main-input-zoon-in{
  transition: transform 0.2s ease-in-out; 
  transform: scale(1.1);
}
.pdf-input{
  font-size: 0.4rem;
}
}

/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 900px) {
  button {
    font-size: 1rem;
    padding: 0.4rem;
    margin: 0.5rem;
  }
}
