@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-green: #7ae582;
  --main-color: #2b4451;
  --main-white: #f4f7fa;
}

* {
  font-family: "calibri", sans-serif;
  font-size: 1.1rem;
  background-color: var(--main-white);
}

div {
  font-family: "calibri", sans-serif;
  font-size: 1.1rem;
}

.page {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: #f5f5f5;
  border: none;
  color: #000;
  padding: 0.4rem 1rem 0.4rem 1rem;
  list-style: none;
  font-size: 1rem;
  margin: 0.7rem;
  border-radius: 20px;
  cursor: pointer;
  width: 7rem;
}

p {
  margin: 10px;
  font-size: 1rem;
  direction: rtl;
  background-color: transparent;
}

@media (max-width: 600px) {
  button {
    font-size: 0.8rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin: 0.3rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  button {
    font-size: 1rem;
    padding: 0.4rem;
    margin: 0.5rem;
  }
}
