.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: white;
  width: 100%;
  border-bottom: 1px lightgray solid;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.progressbar {
  flex: 1;
  text-align: center;
  padding-left: 10%;
  padding-right: 16%;
  background-color: transparent;
}

.header {
  margin-left: 20px;
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  font-family: "Yellowtail", cursive;
  color: var(--main-color);
  text-decoration: underline;
}

.header:hover{
    cursor: pointer;
}

@media (max-width: 600px) {
  .progressbar {
    padding-left: 5%;
    padding-right: 10%;
  }
}
